<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">CIST 2016:</p>
      <p class="body">CIST 2016 will  be held in Ottawa, Canada on May 11 - 12, 2016 at University of Ottawa.</p>
      <p class="bold">CIST'16 Symposiums:</p>
      <p class="body">The Organizing Committee has selected the following fields for specialized and focused symposiums under the umbrella of CIST'16:</p>

      <ul>
      <li>Intelligent Systems</li>
      <li>Pervasive Computing</li>
      <li>Big Data</li>
      <li>Deep Learning</li>
      </ul>

      <p class="body">If you are interested of your article to be part of the above-mentioned symposiums, please inform us when submitting your article. Please visit <a href="../symposium" class="body-link">Symposiums</a> for more information.</p>
    </div>          
    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="../papers" class="body-link">Paper Submission</a> for more information.</p>
    </div>

  </div>